.side-nav .logo-wrapper img {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20%;
	padding-bottom: 20%;
	height: 50%;
}
.side-nav .logo-wrapper img {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20%;
	padding-bottom: 20%;
	height: auto;
}